<div class="background">
<form (ngSubmit)="sendMessage()" #form="ngForm">
  <div class="form-row justify-content-center align-items-center pb-3 pt-3">
    <div class="col-2">
      <input
        type="text"
        name="author"
        id="author"
        class="form-control"
        placeholder="Author"
        ngModel
      >
    </div>
    <div class="col-2">
      <input
        type="text"
        name="message"
        id="message"
        class="form-control"
        placeholder="Message"
        ngModel
      >
    </div>
    <button type="submit" class="btn btn-primary ml-2" [disabled]="isUpLoading">
      <span *ngIf="!isUpLoading">
          Send
        </span>
      <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </div>
</form>
</div>
