<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!isFetching">
<app-message-item
  *ngFor="let message of messages"
  [message]="message"
></app-message-item>
</ng-container>
