.messageContainer{
  display: flex;
  height: auto;
  width: 70%;
  min-width: 400px;
  border-radius: 5px;
  align-items:stretch;
  background-color: darkslateblue;
  box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
}

.messageData{
  flex: 1;
  padding: 10px;
  font-size: 0.7em;
}

.sender{
  display: block;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
}

.timestamp {
  color: navajowhite;
  font-style: italic;
}

.messageContent{
  height: auto;
  flex: 9;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
