<div class="mt-3">
<div class="messageContainer m-auto">
  <div class="messageData">
        <span class="sender">
        {{ message.author }}
        </span>
    <span class="timestamp">
        {{ message.datetime }}
        </span>
  </div>
  <div class="messageContent">
    {{ message.message }}
  </div>
</div>
</div>
